.auth-nav {
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
    }
}

.auth-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: calc(14 / 12);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

// .auth-nav .item+.item {
//     margin-left: 30px;
// }

.auth-icon {
    margin-right: 10px;
    fill: currentColor;
}