:root {
    --primary-text-color: #757575;
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: #2196F3;
    --button-hover-color: #188ce8;
    --footer-transparent-dark: rgba(255, 255, 255, 0.6);
    --main-light-color: #ffffff;
    --button-background-color: #F5F4FA;
    --background-color-dark: #2F303A;
    --background-secondary: rgba(245, 244, 250, 1);
    --icon-color: #afb1b8;
    --icon-bg: rgba(255, 255, 255, 0.1);
    --text-color-dark: #212121;
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --modal-border-color: rgba(33, 33, 33, 0.2);
}